$black: #333;
$grey: #c7c7c7;
$dark_grey: #737373;
$light_grey: #f4f4f4;
$blue: #197bbd;
$red: #c8493f;

@font-face {
  src: url("../fonts/Righteous-Regular.ttf");
  font-family: "Bold";
}

@font-face {
  src: url("../fonts/Kalam-Regular.ttf");
  font-family: "Cursive";
}

@font-face {
  src: url("../fonts/Roboto-Regular.ttf");
  font-family: "Roboto";
}

@mixin font($font_name) {
  font-family: $font_name, Arial, Helvetica, sans-serif;
}

@mixin bg {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}

@mixin img_btn($size) {
  cursor: pointer;
  width: $size;
  height: $size;
  @include bg;
  background-color: transparent;
  border: none;
}
