@import "init";

#editor_page {
  display: flex;
  flex-direction: column;
  #interface {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    #main_photo {
      box-sizing: border-box;
      flex: 1;
      height: 350px;
      @include bg;
      background-size: 450px;
      padding-bottom: 45px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      canvas {
        border: 1px solid black;
      }
    }
    .arrow {
      width: 35px;
      height: 35px;
    }
  }
  #tool_bar {
    background-color: red;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 65px;
    position: relative;
    .chrome-picker {
      top: -245px;
      z-index: 99;
      left: 0;
      position: absolute;
    }
    .editor_button,
    label {
      padding: 0;
      flex: 1;
      cursor: pointer;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: white;
      border: 1px solid $grey;
      transition: background-color 0.2s;
      &:focus,
      &:hover {
        outline: auto;
      }
      img {
        width: 22px;
      }
      span {
        margin-top: 2px;
        @include font("Roboto");
        color: $black;
      }
      div {
        border: none !important;
        &:focus,
        &:hover {
          outline: none !important;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  #editor_page {
    width: 100%;
    #interface {
      margin: 0 auto;
      max-width: 750px;
      width: 100%;
      .arrow{
        cursor: pointer;
      }
    }
    #tool_bar {
      margin: 0 auto;
      width: 530px;
    }
  }
}
