@import 'init';

header {
  height: 55px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin: 5px 10px;
  border-bottom: 1px solid $light_grey;
  align-items: center;
  .header_links {
    width: 20px;
    &:first-child {
      cursor: pointer;
    }
  }
  input {
    margin: 0 15px;
    flex: 1;
    border: none;
    cursor: inherit;
    &::placeholder {
      color: $black;
    }
  }
  p {
    margin-left: 5px;
    @include font("Bold");
  }
  a {
    display: flex;
  }
}

@media (min-width: 768px) {
  header {
    box-sizing: border-box;
    padding: 10px 30px;
  }
}

@media (min-width: 1024px) {
  header {
    margin: 5px auto;
    max-width: 1250px;
  }
}
