@import "init";

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

button {
  outline: none;
}

input {
  @include font("Bold");
  color: #333;
  outline: none;
  cursor: pointer;
}

#grey_heading {
  width: 100vw;
  height: 20px;
  background-color: $grey;
}

a {
  @include font("Bold");
  color: $grey;
  text-decoration: none;
}

header {
  height: 55px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin: 5px 10px;
  border-bottom: 1px solid $light_grey;
  align-items: center;
  .header_links {
    width: 20px;
    &:first-child {
      cursor: pointer;
    }
  }
  input {
    margin: 0 15px;
    flex: 1;
    border: none;
    &::placeholder {
      color: $grey;
    }
  }
  p {
    margin-left: 5px;
    @include font("Bold");
  }
  a {
    display: flex;
  }
}

main {
  display: flex;
  flex-direction: column;
}

aside {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px 0;
  #logo {
    width: 148px;
    &:hover {
      opacity: 0.6;
    }
  }
  #menu_button {
    margin: 15px 0;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
    @include bg;
  }
  a {
    margin: 5px 0;
  }
  #insta {
    margin-top: 10px;
    width: 25px;
    height: 25px;
  }
}

@media (min-width: 768px) {
  header {
    box-sizing: border-box;
    padding: 10px 30px;
  }
  aside {
    width: 205px;
    align-items: flex-start;
    margin-right: 0;
    padding: 0;
    a {
      margin: 15px;
      margin-left: 0;
    }
    #insta {
      width: 20px;
      height: 20px;
    }
  }
  main {
    box-sizing: border-box;
    padding: 10px 30px;
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  header {
    margin: 5px auto;
    max-width: 1250px;
  }
  main {
    max-width: 1250px;
    margin: 0 auto;
  }
}
