@import "init";

* {
  outline-color: $black;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

button {
  outline: none;
}

select {
  cursor: pointer;
  font-size: 1.2rem;
  @include font("Bold");
  color: $black;
  background-color: $light_grey;
  border: none;
}

input {
  @include font("Bold");
  color: #333;
  outline: none;
  cursor: pointer;
}

#grey_heading {
  width: 100vw;
  height: 20px;
  background-color: $black;
}

a {
  @include font("Bold");
  color: $black;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
}

aside {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px 0;
  #logo {
    width: 148px;
    &:hover {
      opacity: 0.6;
    }
  }
  #menu_button {
    margin: 15px 0;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
    @include bg;
  }
  a {
    margin: 5px 0;
    &:hover,
    &:focus {
      outline: none;
      opacity: 0.8;
    }
  }
  #insta {
    margin-top: 10px;
    width: 25px;
    height: 25px;
  }
}

@media (min-width: 768px) {
  aside {
    width: 205px;
    align-items: flex-start;
    margin-right: 0;
    padding: 0;
    a {
      margin: 15px;
      margin-left: 0;
    }
    #insta {
      width: 20px;
      height: 20px;
    }
  }
  main {
    box-sizing: border-box;
    padding: 10px 30px;
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  main {
    max-width: 1250px;
    margin: 0 auto;
  }
}
