@import "init";

.item,
.item_s {
  margin: 5px;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 270px;
    height: 270px;
    background-color: $grey;
    outline: none;
  }
  a {
    font-size: 1.25rem;
    @include font("Cursive");
    &:hover {
      opacity: 0.8;
    }
  }
  p {
    margin: 5px 0;
    font-size: 1.1875rem;
    @include font("Bold");
    color: $black;
  }
}

.item_s {
  margin: 10px;
  width: 180px;
  img {
    width: 180px;
    height: 180px;
    background-color: $grey;
  }
}
