@import "init";

#payment_page {
  .result {
    margin-top: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    img {
      width: 125px;
    }
    h2 {
      text-align: center;
      color: $black;
      max-width: 360px;
      font-size: 1.2rem;
      @include font("Roboto");
    }
    p{
      margin-top: 0;
    }
    a, p {
      color: $black;
      font-size: 1.1rem;
      text-decoration: underline;
      @include font("Roboto");
      cursor: pointer;
    }
  }
  hr {
    margin: 15px 10px;
    max-width: 526px;
    border: 0.5px solid $grey;
  }
  main {
    display: block;
  }
  #payment_heading {
    margin: 0;
    border: none;
    display: flex;
    height: 95px;
    padding: 21px 14px;
    @include bg;
    background-size: cover;
    background-image: url("../img/background.webp");
    background-color: $black;
    box-sizing: border-box;
    #link_block {
      a {
        width: 50px;
        img {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
  #summary {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: $light_grey;
    border: 1px solid $grey;
    height: 72px;
    div {
      &:first-child {
        display: flex;
        align-items: center;
        * {
          margin: 0 3px;
        }
        img {
          width: 20px;
          height: 20px;
          &:last-child {
            width: 12px;
            height: 12px;
          }
        }
        span {
          color: $blue;
          @include font("Roboto");
          font-size: 0.9rem;
        }
      }
      &:last-child {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        span {
          @include font("Roboto");
          &:first-child {
            color: $dark_grey;
            font-size: 0.7rem;
            text-decoration: line-through;
          }
          &:last-child {
            font-size: 1.1rem;
            color: $black;
            font-weight: bold;
          }
        }
      }
    }
  }
  #summary_items {
    box-sizing: border-box;
    background-color: $light_grey;
    overflow: hidden;
    .info_block {
      display: flex;
      margin: 15px 10px;
      max-width: 526px;
      @include font("Roboto");
      justify-content: space-between;
      align-items: center;
      * {
        margin: 0;
      }
      div {
        display: flex;
        align-items: center;
        .additional {
          display: flex;
          align-items: center;
          margin: 0 5px;
          p {
            color: $black;
          }
          img {
            width: 18px;
            margin: 0 5px;
          }
        }
        p {
          font-size: 0.9rem;
          color: #535353;
        }
        b {
          color: $black;
          font-size: 0.9rem;
        }
        &:last-child {
          p {
            font-size: 0.8rem;
          }
        }
      }
    }
    .total {
      div {
        &:first-child {
          p {
            color: $black;
          }
        }
        &:last-child {
          display: flex;
          align-items: center;
          p {
            font-size: 0.7rem;
          }
          b {
            margin-left: 10px;
            font-size: 1.4rem;
          }
        }
      }
    }
  }
  #input_sec {
    display: flex;
    box-sizing: border-box;
    padding: 0 10px;
    flex-direction: column;
    max-width: 546px;
    margin: 5px auto;
    #second_stage,
    #third_stage {
      h2 {
        margin: 10px 5px;
      }
      .message {
        color: $dark_grey;
        @include font("Roboto");
        font-size: 0.85rem;
        margin: 0 5px;
      }
      #change_info,
      #choose_shipping {
        padding: 12px 16px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid $grey;
        border-radius: 5px;
        hr {
          margin: 10px 0;
        }
        .change_info_option {
          display: flex;
          flex-direction: column;
          .change_info_heading {
            display: flex;
            justify-content: space-between;
            span {
              &:first-child {
                color: $dark_grey;
                @include font("Roboto");
                font-size: 0.9rem;
              }
              &:last-child {
                cursor: pointer;
                color: $blue;
                @include font("Roboto");
                font-size: 0.75rem;
              }
            }
          }
          address {
            margin-top: 5px;
            @include font("Roboto");
            font-style: normal;
            color: $black;
            font-size: 0.95rem;
            word-break: break-word;
          }
        }
      }
      #choose_shipping {
        padding-left: 3px;
        .change_info_option {
          height: 40px;
          align-items: flex-start;
          flex-direction: row;
          justify-content: space-between;
          .change_shipping_info {
            flex: 1;
            margin: 0 5px;
            display: flex;
            flex-direction: column;
            .shipping_name {
              @include font("Roboto");
              font-size: 0.95rem;
              color: $black;
            }
            .shipping_time {
              @include font("Roboto");
              font-size: 0.8rem;
              color: $dark_grey;
            }
          }
          .price {
            color: $black;
            font-weight: bolder;
            @include font("Roboto");
            font-size: 0.9rem;
          }
        }
      }
      .submit_btn {
        margin-top: 10px;
        width: 100%;
      }
    }
    #third_stage {
      .choice_block {
        margin: 5px 0;
        border: 1px solid $grey;
        border-radius: 5px;
        min-height: 50px;
        .choice_heading {
          box-sizing: border-box;
          padding-right: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: white;
          border-bottom: 1px solid $grey;
          div {
            display: flex;
            align-items: center;
            b {
              color: $black;
              @include font("Roboto");
              font-size: 0.85rem;
            }
          }
          &:nth-child(1) {
            border-radius: 5px 5px 0 0;
          }
          &:nth-child(3) {
            border-radius: 0 0 5px 5px;
            border-bottom-color: transparent;
          }
        }
        .choice_content {
          display: flex;
          align-items: center;
          box-sizing: border-box;
          background-color: $light_grey;
          overflow: hidden;
          &:last-child {
            flex-direction: column;
            img {
              margin: 25px 0 5px;
            }
            p {
              @include font("Roboto");
              font-size: 0.9rem;
              text-align: center;
              width: 275px;
              color: $dark_grey;
              margin-bottom: 25px;
            }
            form {
              > {
                div {
                  margin: 10px;
                }
              }
              .inline_inputs {
                margin: 0 10px;
              }
            }
          }
        }
      }
    }
    #bread_crumbs {
      margin: 10px 0;
      a,
      p {
        @include font("Roboto");
        font-size: 0.85rem;
      }
      a {
        height: 20px;
        color: $blue;
      }
      p {
        color: $dark_grey;
        margin: 0;
      }
    }
    h2 {
      @include font("Roboto");
      font-weight: lighter;
      color: $black;
      font-size: 1.15rem;
      margin: 10px 0 5px;
    }
    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      .c_input {
        margin: 7px 0;
      }
      .inline_inputs {
        display: flex;
        flex-direction: column;
      }
    }
  }
  footer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 546px;
    margin-bottom: 10px;
    padding: 0 10px;
    hr {
      width: 100%;
      margin: 10px 0;
    }
    p {
      font-size: 0.75rem;
      margin: 0;
      margin-bottom: 5px;
      color: $dark_grey;
      @include font("Roboto");
    }
  }
}

@media (min-width: 552px) {
  #payment_page {
    #payment_heading {
      #link_block {
        width: 526px;
        margin: 0 auto;
        a {
          width: 50px;
          img {
            width: 50px;
            height: 50px;
          }
        }
      }
    }
    hr {
      margin: 15px auto;
    }
    #summary {
      justify-content: center;
      div {
        &:first-child {
          margin-right: 283px;
        }
      }
    }
    #summary_items {
      .bin_item,
      .p_bin_item,
      .info_block,
      hr {
        margin: 15px auto;
      }
    }
    footer {
      margin: 5px auto;
    }
  }
}

@media (min-width: 768px) {
  #payment_page {
    main {
      padding: 0;
    }
    #input_sec {
      form {
        .inline_inputs {
          flex-direction: row;
          .gap {
            width: 15px;
          }
          .c_input {
            flex: 1;
          }
        }
        .submit_btn {
          width: 184px;
          height: 50px;
          margin: 5px auto;
          margin-right: 0;
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  #payment_page {
    #payment_heading {
      max-width: 100%;
      margin: 0 !important;
      width: 100%;
      height: 195px;
      padding: 6em 50px 2em;
      #link_block {
        width: 100%;
        a {
          img {
            width: 80px;
            height: 80px;
          }
        }
      }
    }
    main {
      display: flex;
      margin: 0;
      max-width: none;
    }
    #input_sec {
      margin: 0;
      width: 55vw;
      border-right: 1px solid $grey;
      max-width: none;
      padding-top: 2em;
      padding-right: 6%;
      align-items: flex-end;
      height: calc(100vh - 8em);
      #second_stage,
      #third_stage {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 572px !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
        .submit_btn {
          width: 184px;
          height: 50px;
          margin: 10px auto;
          margin-right: 0;
        }
      }
      > {
        * {
          max-width: 572px !important;
          margin-right: 0 !important;
          margin-left: 0 !important;
        }
      }
    }
    #summary_items {
      box-sizing: border-box;
      padding-top: 2em;
      padding-left: 4%;
      width: 45vw;
      background-color: $light_grey;
      > {
        * {
          max-width: 370px !important;
          margin-right: 0 !important;
          margin-left: 0 !important;
        }
      }
    }
    footer {
      padding: 0 5px;
    }
  }
}

@media (min-width: 1265px) {
  #payment_page {
    #payment_heading {
      #link_block {
        width: 1180px;
      }
    }
  }
}
