@import "init";

#shop_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
  #shop_heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    #bread_crumbs {
      justify-content: center;
      display: flex;
      @include font("Bold");
      color: $black;
      font-size: 1rem;
      align-items: center;
      .arrow {
        height: 17px;
      }
      span {
        margin: 0;
        margin-left: 5px;
      }
    }
    h1 {
      @include font("Cursive");
      color: $black;
      font-weight: normal;
      margin-top: 10px;
      text-align: center;
    }
    select {
      width: 200px;
      height: 45px;
    }
  }
  #shop_items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 88vw;
    margin: 15px auto;
    .item_s {
      margin: 5px;
    }
  }
}

@media (min-width: 768px) {
  #shop_page {
    width: 100%;
    #shop_heading {
      width: 100%;
      margin: 25px 0 0;
      flex-direction: row;
      justify-content: space-between;
      h1 {
        text-align: start;
      }
    }
    #shop_items {
      justify-content: center;
      width: 100%;
    }
  }
}

@media (min-width: 1024px) {
  #shop_page {
    #shop_items {
      justify-content: flex-start;
    }
  }
}
